PathConsola/home/pablo/workspace/trunk/PPDconsola/Debug/PPDconsola
ArchConsola/home/pablo/Escritorio/ArchUnix2
PathDisco/home/pablo/Escritorio/small_fat32.disk1
PathConfig/home/pablo/workspace/trunk/PPDconsola/Debug/ppdConsola.config
NombreDiscoJOJOJO
ModoLISTEsN
IP192.168.1.106
Puerto5300
RaidIP127.0.0.1
PuertoRaid5300
Pistas1024
Sectores1024
RPM6000
tpoEntrePistas0  
tpoLectura0
tpoEscritura0
flagLogs0
algoritmo0 //SCAN 0 FSCAN 1
pistaInicial0
sectorInicial0
