PathConsola/home/pablo/workspace/PPDconsola/Debug/PPDconsola
ArchConsola/home/pablo/Escritorio/ArchUnix1
PathDisco/home/pablo/Desktop/small_fat32.disk
PathConfig/home/pablo/workspace/trunk/PPDconsola/Debug/ppdConsola.config
NombreDiscocabe
ModoLISTEN
IP192.168.1.106
Puerto7777
RaidIP192.168.1.108
PuertoRaid5300
Pistas256
Sectores4096
RPM6000
tpoEntrePistas0  
tpoLectura0
tpoEscritura0
flagLogs0
algoritmo1 //SCAN 0 FSCAN 1
pistaInicial0
sectorInicial0
